# Created by .ignore support plugin (hsz.mobi)

# Folders
/.idea
/.git
bukkit/loader/target
core/target
example/target
match/target
processor/target
/out
/Matchmaking

# Files
*.iml
dependency-reduced-pom.xml